<div class="banner" style="background-image: url('<%= image_path 'banner.jpg' %>'), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
  <h1>Cookbook</h1>
  <h2>Save your favourite recipes</h2>
</div>

<div class="container">

  <div class="d-flex align-items-center justify-content-between m-3">
    <h1 class="mt-3">List of Categories</h1>
    <%= link_to "New Category", new_category_path, class: "btn btn-primary text-white" %>
  </div>

  <% array = ['italian.jpg','mexican.jpg','japanese.jpg','thai.jpg', 'french.jpg', 'scottish.jpg'] %>
  <% i = 0 %>

  <div class="cards">
    <% @categories.each do |category| %>
      <%= link_to category_path(category), class:"text-decoration-none" do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path(array[i]) %>)">
            <h1><%= category.name %></h1>
            <h2><%= category.recipes.count %> recipes </h2>
          </div>
        <% end %>
      <% i +=1 %>
    <% end %>
  </div>

</div>
